<% layout('layouts/boilerplate') %>

   <div class="row">
    <h1 class="text-center mb-3">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated_form">
            <div class="mb-3">
                <label class="form-label" for="name">Name of Campground</label>
                <input type="text" name="campground[title]" id="title" class="form-control" placeholder="Enter a name..." required>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" placeholder="Enter a location..." required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input type="text" class="form-control" name="campground[image]" id="location" placeholder="Enter a location..." required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" name="campground[price]" id="price" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" class="form-control" name="campground[description]" id="location" placeholder="Enter a description..." required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success" type="submit">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">Cancel</a>
    </div>
   </div>
