<!-- Page for adding one individual campground. -->
<% layout('layouts/boilerplate') %>

   <div class="row">
    <h1 class="text-center mb-3">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <img src="https://images.unsplash.com/photo-1602391833977-358a52198938?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="A photo of a tent in the wilderness." class="card-image-top">
            <div class="card-body p-3">
        <form action="/campgrounds" method="POST" novalidate class="validated_form" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <label class="form-label" for="name">Name of Campground</label>
                <input type="text" name="campground[title]" id="title" class="form-control" placeholder="Enter a name..." required>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" placeholder="Enter a location..." required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" name="campground[price]" id="price" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>                
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" class="form-control" name="campground[description]" id="location" placeholder="Enter a description..." required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Choose Image(s)</label>
                <div class="form-file custom-file">
                      <input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
                      <label for="image" class="form-label custom-file-label mt-2 ms-1"></label>
                  </div>                  
              </div>
            <div class="mb-3">
                <button class="btn btn-success w-100" type="submit">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">Cancel</a>
    </div>
        </div>
    </div>
   </div>
