<% layout('layouts/boilerplate') %>
    <h1><%= campground.title %></h1>
    <p><%= campground.location %></p>

    <a href="/campgrounds/<%= campground._id %>/edit">Edit Camp</a>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button type="Submit">Delete Camp</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/new">Add new campground</a>
    
